html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure that the html and body elements take full height */
  background-color: #353535;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  color: #fff;
  height: 100vh; /* Full viewport height */
  background-color: #353535;
  box-sizing: border-box; /* Include padding and border in height calculation */
}

.header-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-section div {
  display: flex;
  flex-direction: row;
}

.header-section select {
  margin: 10px;
}

.reviews-section {
  flex: 1; /* Takes up available space */
  overflow-y: auto; /* Adds vertical scroll if content overflows */
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  ); /* Adjust minmax value for larger squares */
  gap: 20px; /* Space between grid items */
  background-color: #3e3e3e; /* Dark brownish gray background for reviews section */
}

.footer-section {
  display: flex;
  flex-direction: row;
  color: #fff;
  justify-content: space-between;
}

.footer-buttons button {
  height: 30px;
  margin-left: 10px;
  margin-top: 10px;
}
