html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure that the html and body elements take full height */
  background-color: #3e3e3e;
  font-family: "Montreal", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  color: #fff;
  height: 100vh; /* Full viewport height */
  background-color: #3e3e3e;
  box-sizing: border-box; /* Include padding and border in height calculation */
}

.header-section {
  position: relative;
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
}

.header-title {
  text-align: center;
  font-size: 3em;
}

.sort-selector {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 10px;
  height: 60px;
  font-size: 1em;
  background-color: #3e3e3e;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  padding: 0 0 0 5px;
  border: none;
  cursor: pointer;
}

.sort-selector option {
  font-weight: none;
}

.sort-selector option:checked {
  font-weight: bold;
}

.menu-button {
  position: absolute;
  cursor: pointer;
  right: 30px;
  filter: brightness(65%);
}

.menu-button:hover {
  filter: brightness(100%);
}

.header-menu {
  cursor: pointer;
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: #202020;
  padding: 15px 20px 20px 20px;
  gap: 20px;
  top: 15px;
  right: 10px;
  z-index: 2;
  border-radius: 40px;
}

.header-menu img {
  filter: brightness(50%);
}
.header-menu img:hover {
  filter: brightness(100%);
}

.reviews-section {
  flex: 1; /* Takes up available space */
  overflow-x: auto; /* Adds horizontal scroll if content overflows */
  overflow-y: hidden; /* Prevent vertical scroll */
  padding: 0 10px 0 10px;
  display: flex; /* Use flexbox for horizontal alignment */
  gap: 20px; /* Space between columns */
}
