.overview-overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.overview-dialog {
  position: relative;
  background: #141414;
  height: 700px;
  width: 700px;
  padding: 10px 30px;
  border-radius: 40px;
  box-shadow: 0 2px 10px rgb(0, 0, 0);
  font-weight: bold;
}

.overview-title {
  font-size: 1.7em;
  text-align: center;
  margin: 20px 0 0 0;
}
.overview-close {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-50%) translateX(50%);
  background-color: rgb(150, 56, 56);
  border: 3px solid #202020;
  margin: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.overview-close:hover {
  background-color: #dd3c42;
}

.close-icon {
  height: 30px;
  width: 30px;
  margin: auto;
}

.overview-content {
  display: flex;
  flex-direction: row;
}

.pie-chart {
  position: relative;
  margin: 30px 30px 0 30px;
  width: 275px;
  height: 275px;
  border-radius: 50%;
  box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.75);
  background: conic-gradient(
    #32a850 0% var(--positive),
    #222222 var(--positive) calc(var(--positive) + var(--neutral)),
    #dd3c42 calc(var(--positive) + var(--neutral)) 100%
  );
}

.pie-chart-hole {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  font-size: 1.4em;
  background: #141414;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 10px 0 rgba(255, 255, 255, 0.75);
}

.review-count {
  font-size: 2.3em;
  color: white;
  margin-top: 27px;
}
.percentages {
  font-size: 0.6em;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin: -5px auto;
}

.percentage-label {
  font-weight: bold;
  margin-right: 10px;
}

.percentage-value {
  font-weight: bold;
}

.percentage-value.positive {
  color: #32a850;
}

.percentage-value.neutral {
  color: rgb(148, 148, 148);
}

.percentage-value.negative {
  color: #dd3c42;
}

.bar-chart {
  display: flex;
  flex-direction: column;
  width: 275px;
  height: 275px;
  padding: 2px;
  margin: 30px 0 15px 15px;
  overflow-y: auto; /* always display scrollbar */
  overflow-x: hidden; /* add this */
  box-sizing: border-box;
}

.bar-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  gap: 5px;
}

.bar-stack {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.bar-label {
  font-size: 0.9em;
  font-weight: normal;
  font-style: italic;
  text-align: left;
}

.bar {
  height: 8px;
  border-radius: 10px;
  display: flex;

  box-shadow: 0 1px 5px 0 rgba(255, 255, 255, 0.75);
}

.bar-count {
  font-size: 1.1em;
  font-weight: bold;
  text-align: right;
  flex-basis: 30px;
}

.bar.positive {
  background-color: #32a850;
}
.bar.neutral {
  background-color: rgb(109, 109, 109);
}
.bar.negative {
  background-color: #dd3c42;
}

.overview-summary {
  position: relative;
  display: flex;
  flex-direction: column;
}

.summary-section {
  height: 275px;
  width: 350px;
  border-radius: 40px;
  margin: 30px 30px 0 0;
  background-color: #333333;
  box-shadow: #141414;
  box-shadow: inset 0 0 20px 0 rgb(0, 0, 0, 0.75);
  overflow: hidden;
}

.summary-title {
  height: 50px;
  background-color: rgb(51, 168, 189);
  border-radius: 40px 40px 0 0;
  text-align: center;
  align-content: center;
  font-size: 1.5em;
}

.summary-title.good {
  background-color: rgb(51, 168, 189);
}

.summary-title.bad {
  background-color: #dda53c;
}

.summary-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 225px;
  text-align: left;
  padding: 25px;
  font-weight: normal;
  overflow-y: auto;
  box-sizing: border-box;
}

.summary-text-header {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 5px;
}

.summary-text-body {
  color: #ccc; /* Lighter gray text for comments */
  font-size: 1em;
  margin-bottom: 40px;
}

.update-summary-button {
  position: absolute;
  top: 47%;
  left: 88%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #3e3e3e;
  border: 3px solid #202020;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  cursor: pointer;
}
.update-summary-button:hover {
  background-color: #202020;
  box-shadow: 0 1px 5px 0 rgba(255, 255, 255, 0.75);
}

.generate-icon-image {
  height: 30px;
  width: 30px;
  margin-bottom: 2px;
}
