.dropdown {
  position: relative;
}

.listing-container {
  display: flex;
  background-color: #202020;
  border: 3px solid #202020;
  border-radius: 40px;
  width: 350px;
  height: 175px;
  box-sizing: border-box;
  padding: 20px;
  justify-content: space-between;
  background-size: cover; /* Ensures the image covers the container */
  background-position: center; /* Center the image within the container */
  background-repeat: no-repeat; /* Prevent image repetition */
  z-index: 2;
  box-shadow: 0 2px 5px 0 rgb(0, 0, 0);
}

.listing-name {
  margin: auto;
  border-radius: 15px;
  text-align: center;
  color: white;
}

.listing-name a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 20px; /* Adjust the size as needed */
  text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black,
    -1px 1px 0 black;
}

.listing-name input {
  border-radius: 10px;
  font-weight: bold;
  font-size: 1em;
  height: 50px;
  width: 250px;
  text-align: start;
}

.listing-name p {
  text-align: center;
  font-size: 20px; /* Adjust the size as needed */
}

.dropdown-menu {
  display: flex;
  flex-direction: row;
  position: absolute;
  background-color: transparent;
  gap: 225px;
  top: 25%;
  left: 50%; /* Position the dropdown to the right of the listing container */
  transform: translateY(-65%) translateX(-50%);
  z-index: 1;
  opacity: 0;
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown-menu.active {
  opacity: 1;
}

.dropdown-button {
  height: 50px;
  width: 50px;
  cursor: pointer;
  text-align: center;
  background-color: #555555;
  border: 3px solid #202020;
  border-radius: 50%;
}

.dropdown-button.save {
  background-color: rgb(0, 119, 0);
}

.dropdown-button.info {
  background-color: rgb(51, 168, 189);
}

.button-icon {
  margin: auto;
  height: 25px;
  width: 25px;
}
