.listing-column {
  flex: 0 0 auto;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  width: max-content;
}

.reviews-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 0.5em;
  border-radius: 10px;
  background-color: #4d4d4d;
  box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  background-color: hsla(0, 0%, 79%, 0.658);
}
