.review-container {
  padding: 20px;
  border: none; /* Remove the border */
  border-radius: 10px;
  background-color: #4a4a4a; /* Darker gray for review containers */
  box-sizing: border-box; /* Ensure padding and border are included in the element’s total width and height */
  min-height: 300px; /* Increase the height for a larger square */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden; /* Ensures content does not overflow */
}

.review-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff; /* White text for better contrast */
  font-size: 1.2rem; /* Larger font size */
  font-weight: bold;
}

.review-title p {
  margin: 0;
}

.review-listing {
  color: #aaa; /* Lighter gray for date */
  font-size: 0.9rem; /* Slightly smaller font size */
  margin: 0;
}

.review-content {
  color: #ccc; /* Lighter gray text for comments */
  font-size: 1rem; /* Larger font size */
  flex-grow: 1; /* Allows the comment to take up remaining space */
  overflow: auto; /* Adds scroll within the content area if needed */
}

.review-date {
  color: #aaa; /* Lighter gray for date */
  font-size: 0.9rem; /* Slightly smaller font size */
}

.delete-button {
  background-color: #94230f7a; /* Hot red color */
  color: white;
  border: none;
  padding: 12px 12px;
  border-radius: 20px;
  cursor: pointer;
  margin: 5, 0;
}

.delete-button:hover {
  background-color: #94230f; /* Darker hot red for hover effect */
}
