.review-container {
  padding: 20px;
  border: none; /* Remove the border */
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #313131; /* Darker gray for review containers */
  height: auto; /* Increase the height for a larger square */
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  position: relative;
}

.review-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff; /* White text for better contrast */
  font-size: 1.2rem; /* Larger font size */
  font-weight: bold;
}

.review-title p {
  margin: 0;
}

.review-sentiment {
  color: #ffffff; /* Lighter gray for date */
  font-size: 1.2rem; /* Slightly smaller font size */
  font-weight: bold;
  margin: 0;
  margin: -20px -20px 20px -20px; /* Add this line */
  border-radius: 10px 10px 0 0;
  padding: 10px;
  text-align: center;
}

.review-sentiment.positive {
  background-color: #002900;
}
.review-sentiment.negative {
  background-color: #380000;
}
.review-sentiment.neutral {
  background-color: #222222;
}

.review-content {
  color: #ccc; /* Lighter gray text for comments */
  font-size: 1rem; /* Larger font size */
  flex-grow: 1; /* Allows the comment to take up remaining space */
}

.review-date {
  color: #aaa; /* Lighter gray for date */
  font-size: 0.9rem; /* Slightly smaller font size */
  margin-bottom: 0;
}

.delete-button {
  position: absolute; /* Stay within the container */
  bottom: 0; /* Position at the bottom of the container */
  right: 10px; /* Center horizontally */
  background-color: rgb(153, 1, 1);
  width: 40px;
  height: 40px;
  color: white;
  border: 2px solid #202020;
  margin: auto;
  border-radius: 20px;
  cursor: pointer;
  opacity: 0;
  transform: translateY(20%);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.delete-button.active {
  opacity: 1;
  z-index: 1;
  transform: translateY(40%);
}

.delete-icon-image {
  width: 20px;
  height: 20px;
  margin: auto;
}

.delete-button:hover {
  background-color: #ff0000; /* Darker hot red for hover effect */
}
